@import "tailwindcss";


@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease-in-out;
}

.animate-slideOut {
  animation: slideOut 0.5s ease-in-out;
}